@font-face {
    font-family: "Gilroy";
    font-weight: 400;
    src: url("../fonts/Gilroy-Regular.woff2"), url("../fonts/Gilroy-Regular.woff");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 600;
    src: url("../fonts/Gilroy-Semibold.woff2"), url("../fonts/Gilroy-Semibold.woff");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 700;
    src: url("../fonts/Gilroy-Bold.woff"), url("../fonts/Gilroy-Bold.woff");
}

body {
    font-family: "Gilroy", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    background-color: #fff;
    margin: 0;


    /* background-image: url('../main.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1600px 1989px;
    opacity: 0.5;  */

    /* background-image: url('../O nas.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1600px 1080px;
    opacity: 0.5; */

    /* background-image: url('../Kontakty.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1600px 1080px;
    opacity: 0.5; */

    /* background-image: url('../Instalacja.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1600px 5529px;
    opacity: 0.5; */




}
.main{
    max-height: 1600px;
    margin: 0 auto;
}
label,
button {
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1600px;
    margin: 0 auto;
    
}
.header-wrapper-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 17px;
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 7px;
}


.header-wrapper:first-child {
    background-color: #20242D;
    padding-top: 9px;
    
}


.address-link {
    color: #FFF;
    font-family: "Gilroy", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin-left: 29px;
}
.black{
    color: #20242D;
    text-decoration: dotted;
}
.address-link.mail{
    position: relative;
}
.address-link.phone{
    position: relative;
    font-weight: 900;
}
.address-link.address{
    position: relative;
}
.address-link.mail::before{
    position: absolute; 
    content: '';
    background-image: url('../img/mail.svg');
    height: 14px;
    width: 14px;
    top:0px;
    left: -25px;

}   
.address-link.phone::before{
    position: absolute; 
    content: '';
    background-image: url('../img/phone.svg');
    height: 14px;
    width: 14px;
    top:0px;
    left: -25px;
}
.address-link.address::before{
    position: absolute; 
    content: '';
    background-image: url('../img/addres.svg');
    height: 14px;
    width: 14px;
    top:0px;
    left: -25px;
}
.address-list {
    display: flex;
    gap: 73px;
    padding-right: 7px;
}

.nav-list {
    display: flex;
    gap: 56px;
    padding-right: 8px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    
}

.nav-link {
    color: #20242D;
    font-family: "Gilroy", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.nav-link.current {
    color: #FF7129;
    position: relative;
}

.nav-link.current::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 1px;
    background-color: #FF7129;
    top: 10px;
    left: -15px;
}

.nav-link.current::after {
    position: absolute; 
    content: '';
    width: 10px;
    height: 1px;
    background-color: #FF7129;
    top: 10px;
    right: -15px;
}


.hero-section {
    background-color: rgba(32, 36, 45, 0.30);
    background-image: radial-gradient(179.69% 50% at 50% 50%, rgba(32, 36, 45, 0.00) 0%, #20242D 100%), 
                    url('../img/index-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-top: 269px;
    padding-bottom: 290px;
    margin: 0 auto;
    align-items: center;
    
}

.main-title {
    color: #FFF;
    text-align: center;
    font-size: 92px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
.Ty-i-twói-dom{
    color: rgba(32, 36, 45, 1);
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 97%; /* 46.56px */
    margin: 0px;
    margin-bottom: 30px;
    position: relative;
    margin-top: 70px;
    margin-bottom: 64px;
    margin-left: 12px;
    position: relative;
}
.Ty-i-twói-dom::before{
    position: absolute;
    content: "";
    width: 1px;
    height: 52px;
    background-color: #FF7129;
    left: -19px;
}
.main-text {
    width: 500px;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding-top: 15px;
}
.article{
    display: flex;
    justify-content: center;
    padding-top: 130px;
    margin-bottom:115px;
}

.article-text{
    max-width: 535px;
    gap: 20px;

}
.p-index{
    margin-top: 24px;
}
.footer{
    max-width: 1600px;
    height: 207px;
    background-color: #20242D;
    max-width: 1600px;
    margin: 0 auto;
}
.bottom-menu{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 6px;

}
.nav-bottom{
    display: flex;
    gap:56px;
    color: #FFF;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 16px;
}
.logo-bottom{
    padding-right: 50px;
    margin-top: 9px;
}
.Strana-glowna{
    color:#FF7129;
    text-decoration: none;
}
.link-bottom{
    color:#FFF;
    text-decoration: none;
    padding-top:16px;
}
.link-bottom:hover{
    color:#FF7129;
    text-decoration: none;
}
.button-bottom{
    width: 187px;
    height: 49px;
    background-color: transparent;
    border: 2px solid #FF7129;
    color: #fff;
}
.last-link{
    display: flex;
    justify-content: space-between; 
    margin-top: 50px;
    padding-bottom: 24px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    font-size: 12px;
 }
 .last-link::after{
    width: 99%;
    height: 1px;
    background-color: #7B7E85;
    position: absolute;
    content: '';
    left: 6px;
    bottom: 70px;


 }
 .last{
    color:#7B7E85 ;
 }
 .action-button{
    width: 187px;
    height: 49px;
    background-color: #FF7129;
    border: 1px solid #FF7129;
    color: #FFF;
    background-color: rgba(28,28,28,0);
 }
 .action-button-oddzwon{
    width: 187px;
    height: 49px;
    background-color: #FF7129;
    border: 1px solid #FF7129;
    color: #FFF;
 }
 .action-button-koszt{
    width: 187px;
    height: 49px;
    background-color: #FF7129;
    border: none;
    color: #FFF;
    margin: auto;
    margin-top: 60px;
 }
 .hero-section::after{
    position: absolute; 
    content: 'Solar'; 
    font-family: "Gilroy", sans-serif; 
    font-size: 120px; 
    font-style: normal; 
    font-weight: 700; 
    line-height: normal; 
    text-transform: uppercase; 
    opacity: 0.3; 
    color: transparent; 
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #FFFFFF; 
    top:250px;
    left: 7px;
 }
 .hero-section::before{
    position: absolute; 
    content: 'Energy'; 
    font-family: "Gilroy", sans-serif; 
    font-size: 120px; 
    font-style: normal; 
    font-weight: 700; 
    line-height: normal; 
    text-transform: uppercase; 
    opacity: 0.3; 
    color: transparent; 
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #FFFFFF; 
    right:10px;
    top: 500px;
 }
 .mouse{
    margin: 0 auto;
    width: 40px;
 }
 .mouse-img{
    position: absolute;
    height: 20px;
    width: 20px;

 }
 .mouse-img::after{
    position: absolute; 
    content: url('../img/mouse.svg');
    width: 24px;
    height: 24px;
    top: 10px;
    right: -15px;
    border:11px solid #7B7E85;
    background-color: #7B7E85;
    border-radius: 50%;
    left: 1px;
    top: 105px;
    
 }
 .energy{
    margin-left: auto;
    margin-right: 50px;
    margin-top: -90px;
 }
 .about{
    padding-left: 130px;
    
 }
 .gallery{
    -webkit-text-stroke: 1px rgba(32, 36, 45, 0.3);
 }
 .contacts{
    -webkit-text-stroke: 1px rgba(32, 36, 45, 0.3);
    padding-top: 56px;
    padding-left: 173px;
    position: relative;

 }
 .o-nas{
    background-image: radial-gradient(179.69% 50% at 50% 50%, rgba(32, 36, 45, 0.00) 0%, #20242D 100%), 
    url('../img/house.jfif');
    background-position: center;
    background-repeat: no-repeat;
    height: 351px;
    max-width: 1600px;
    background-color: rgba(32, 36, 45, 0.30);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
 }
 .o-nas-h1{
    color: #FFF;
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 97%; /* 46.56px */
    position: relative;
    margin-left: 173px;
    padding-bottom: 100px;
    margin-top: 200px;
 }
 .o-nas-h1::before{
    position: absolute;
    content: "About";
    font-family: "Gilroy", sans-serif; 
    font-size: 96px; 
    font-style: normal; 
    font-weight: 700; 
    line-height: normal; 
    text-transform: uppercase; 
    opacity: 0.3; 
    color: transparent; 
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #FFF; 
    bottom:100px;
    left: -47px;
 }
 .o-nas-h1::after{
    position: absolute;
    content: "";
    width: 1px;
    height: 52px;
    background-color: #FF7129;
    left: -19px;
 }
 .article-o-nas{
    display: flex;
    margin-top: 65px;
    position: relative;
    margin-left: 154px;
    width: 1534px;
    gap: 10px;
 }
 .article-o-nas::before{
    position: absolute;
    content: ;
 }
 .article-text{
    width: 524px;
    padding-bottom: 180px;
    position: relative;
    padding-left: 70px;
 }
 .article-text-o-nas{
    width: 524px;
    padding-bottom: 180px;
    position: relative;
 }
 /* .article-text::after{
    position: absolute; 
    content: 'Info'; 
    font-family: "Gilroy", sans-serif; 
    font-size: 96px; 
    font-style: normal; 
    font-weight: 700; 
    line-height: normal; 
    text-transform: uppercase; 
    opacity: 0.3; 
    color: transparent; 
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: rgba(48,48,48); 
    bottom:281px;
    right: 345px;  
} */

.o-nas-bg{
    background-image: url('../img/bg-article.png'); 
    background-size: 435px 606px;
    background-repeat: no-repeat;
    background-position: -40px 98px;
    display: flex;
    justify-content: center;
    margin: 0 auto;


}
.article-bg{
    background-image:url('../img/bg-article.png'); 
    background-size: 435px 606px;
    background-repeat: no-repeat;
    background-position: -40px 98px;

}
 }
 .h1-support-page{
    margin: 10px;
    
    padding-bottom: 100px;
    padding-left: 120px;
    color: #FFF;
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 97%;
    color: #FFFFFF;
    position: relative;
 }
 .h1-instal{
    margin-top: 20px;
    color: #FFF;
    font-family: Gilroy;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 97%;
    color: #FFFFFF;
    position: relative;
    margin-left: 405px;
    top: 150px;
   
 }
 .h1-support-page::before{
    position: absolute;
    content: "";
    width: 1px;
    height: 52px;
    background-color: #FF7129;
    left: 108px;
 }
 .slider{
    display: flex;
    max-width: 1600px;
 }
 .projekty{
    color: rgba(32, 36, 45, 1);
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 97%; /* 46.56px */
    margin: 0px;
    margin-bottom: 30px;
    margin-top: 20px;
    position: relative;
    padding-left: 217px;
 }
 .projekty::before{
    position: absolute; 
    content: 'Gallery'; 
    font-family: "Gilroy", sans-serif; 
    font-size: 96px; 
    font-style: normal; 
    font-weight: 700; 
    line-height: normal; 
    text-transform: uppercase; 
    opacity: 0.3; 
    color: transparent; 
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #20242D; 
    top:-40px;
    left: 190px;
 }
 .kontakt{
    color: rgba(32, 36, 45, 1);
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 97%; /* 46.56px */
    margin-bottom: 30px;
    position: relative;
    margin-left: 171px;
    margin-top: 125px;
    
 }
 .kontakt::before{
    position: absolute;
    content: "";
    width: 1px;
    height: 52px;
    background-color: #FF7129;
    left: -16px;
 }
 }
 .projekty-main{
    max-height: 200px;
    max-width: 1500px;
 }
.kontakt-name{
    color: #7B7E85;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0px;
}
.kontakt-list{
    padding-left: 155px;
    padding-top: 35px;
    height:545px;
}
.li-style{
    margin-top: 64px;
    margin-right: 160px;
}
.li-style li{
    list-style-type: none;
    margin: 48px 0;
    width: 450px;
}
.contact-map{
    display: flex;

}
.article-instal{
    margin-left: 450px;
    width: 700px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}
.hero-instal{
    max-width: 1600px;
    height: 412px;
    background-image:radial-gradient(179.69% 50% at 50% 50%, rgba(32, 36, 45, 0.00) 0%, #20242D 100%), 
    url('../img/instal.png'); 
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    margin-bottom: 70px;

}
.hero-instal::after{
    position: absolute; 
    content: 'Foton-tech'; 
    font-family: "Gilroy", sans-serif; 
    font-size: 96px; 
    font-style: normal; 
    font-weight: 700; 
    line-height: normal; 
    text-transform: uppercase; 
    opacity: 0.3; 
    color: transparent; 
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #FFFFFF; 
    left: -11px;
}
.hero-instal::before{
    position: absolute; 
    content: 'Instalacja'; 
    font-family: "Gilroy", sans-serif; 
    font-size: 96px; 
    font-style: normal; 
    font-weight: 700; 
    line-height: normal; 
    text-transform: uppercase; 
    opacity: 0.3; 
    color: transparent; 
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #FFFFFF; 
    right: -19px;
    bottom: -21px;
}

.unselectable-intal{
    margin-bottom: 46px;
    margin-left: -10px;
    display: flex;

}
.img{
    display: flex;
    justify-content: space-between;
}
.foron-tech{
    font-size: 96px;
}
.instalacja-span{
    bottom: 10px;
    font-size: 96px;
    right: 50px;
}
.instal-down{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: opx;
}
.q-div{
    background-color: #F5F5F5;
    max-width: 700px;
    text-align: start;
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 32px;
    padding-left: 24px;
    padding-right: 90px;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.q{
    width: 650px;
}
.strong{
    color:  #20242D;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}
.list{
    padding-left: 30px;
}
.li-instal{
    list-style-image: url(../img/list.svg);
    background-color:  #F2F2F2;
    margin-top: 24px;
    margin-bottom: 24px;
    padding-left: 30px;
}
.podsumowując{
    background-color:  #F2F2F2;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 24px;
    margin-bottom: 120px;
    margin-top: 42px;
    
}
.h2-instal{
    position: relative;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    padding-left: 16px;
    margin-top: 50px;
    margin-bottom: 17px;
}
.h2-instal-konserwacja{
    position: relative;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    padding-left: 16px;
    margin-top: 70px;
    margin-bottom: 17px;
}

.h2-podsumowując{
    margin-top: 0;
    margin-top: 5px;
    margin-bottom: 35px;
}
.h2-instal::before{
    position: absolute;
    content: "";
    width: 1px;
    height: 42px;
    background-color: #FF7129;
    left: 0px;
}
.koszt{

}
.modal-oddzwon{
    position: fixed;
/* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    /* цвет фона */
    z-index: 1;
    pointer-events: none;
    height: 596px;
}
.modal-oddzwon.shown{
    position: fixed;
    /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    /* цвет фона */
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
 
}
.modal{
    max-width: 800px;
    width: 100%;
    height: 516px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    background-color: #FFF;;
    position: relative;
    box-shadow: 0px 4px 41px 0px rgba(0, 0, 0, 0.10);
    padding-left: 58px;

}

.close-modal {
    cursor: pointer; 
    position: absolute; 
    top: 20px; 
    right: 60px;
    z-index: 2;

}
.close-modal::before,
.close-modal::after {
	content: '';
	position: absolute;
	top: 10px;
	display: block;
	width: 24px;
	height: 3px;
	background: #000;
}

.close-modal::before {
	transform: rotate(45deg);
}

.close-modal::after {
	transform: rotate(-45deg);
}
.x::after,.x::before{
    background: #FFFFFF;
}


.roczne-zuzycie{
    color:  #7B7E85;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.green-slider{
    display: block;
    width: 100px;
    height: 6px;
    background: linear-gradient(to right,  #5CD35A 0%, #FF8D24 50%, #F01717 100.73%);

}
.range{
    position: relative;
    width: 467px;
    appearance: none;
    background:transparent;
    border-radius: 50px;
    border: 1px,solid #888;
    overflow: hidden;
    outline: none;
    z-index: 6;
}   
.range::-webkit-slider-thumb{
    position: relative;
    height: 18px;
    width: 18px;
    background: #FF7129;
    appearance: none;
    cursor: pointer;
    border-radius: 50px;
    border: 0;
    z-index: 6;
    box-shadow: 245px 10px 10px 225px #F2F2F2;
    
}
.range::-moz-range-thumb{
    position: relative;
    height: 15px;
    width: 25px;
    background: #555;
    appearance: none;
    cursor: pointer;
    border-radius: 50px;
    
    border: 0;
    z-index: 6;
}
.range + .fill{
    margin-top: -20px;
    z-index: 5;
    height: 6px;
    width: 467px;
    border-radius: 50px;
    position: absolute;
    background: linear-gradient(to right,  #5CD35A 0%, #FF8D24 50%, #F01717 100.73%);
}
.list-modal{
    display: flex;
    flex-direction: column;
    width:327px;
}   
.obliczyć-koszt-list{
    display: flex;
    gap: 30px;
    margin-top: 32px;
}
.action-button-obliczyć{
   margin: 0 auto;
   display: block;
   margin-top: 56px;
   width: 187px;
   height: 49px;
   background-color: #FF7129;
   border: none;
   color: #FFF;
   margin: auto;
}


.h2-modal{
    position: relative;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    line-height: 97%;
    margin-left: 16px;
    margin-top: -45px;
}

.h2-modal::before{
    position: absolute;
    content: "";
    width: 1px;
    height: 52px;
    background-color: #FF7129;
    left: -16px;

}
.h2-modal::after{
    position: absolute;
    content: "Calculator";
    font-family: "Gilroy", sans-serif; 
    font-size: 96px; 
    font-style: normal; 
    font-weight: 700; 
    line-height: normal; 
    text-transform: uppercase; 
    opacity: 0.3; 
    color: transparent; 
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #20242D;
    right: 240px; 
    bottom: -20px;
}
}
.modal-text{
    color: rgba(32, 36, 45, 1);
    /* text/text 4 */
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width:668px;

}
.label-oddzwon{
    display: flex;
    flex-direction: column;
    max-width: 327px;
    color: #7B7E85;
}
.imie-telefon{
    display: flex;
    gap: 30px;
}
.modal-oddzwon-form-input{
    background-color: transparent;
    border: 1px solid #E0E0E0;
    width: 327px;
    height:52px;
    margin-bottom: 40px;
    
}
.modal-oddzwon-form-input::placeholder{
    color: #7B7E85;
    padding-left: 24px;
}
.callback{
    -webkit-text-stroke: 1px #20242D;
    font-size: 95px;
    opacity: 0.1;
    margin-left: -25px;
    padding-top: 28px;
}
.modal-obliczyć-koszt{
    position: fixed;
    /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
        /* цвет фона */
    z-index: 0;
    pointer-events: none;
        
}
.modal-obliczyć-koszt.shown{
    position: fixed;
        /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
        /* цвет фона */
     opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal-Dziękuję-za-twoją-prośbę{
    position: fixed;
    /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
        /* цвет фона */
    z-index: 0;
    pointer-events: none;
       
}
    
.modal-Dziękuję-za-twoją-prośbę.shown{
    position: fixed;
        /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
        /* цвет фона */
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.Dziękuję-za-twoją-prośbę{
    background-color: #FF7129;
}
.check_mark{
    background-image: url('../img/chekup.svg'); 
    background-repeat: no-repeat;
    background-position: bottom;
    height: 200px;
    width: 111px;
    margin-left: auto;
    margin-right: auto;
   
    
    
}
.white{
    color:#F2F2F2;
    padding-left: 100px;
    padding-top: 50px;
}
.white-text{
    color: #FFF;
    text-align: center;
    padding-left: 50px;
}
.ok{
    background-color: #E0E0E0;
    color: #FF7129;
    margin: 0 auto;
    display: block;
}
.swiper {
    width: 600px;
    height: 300px;
  }
.swiper-slide{
    text-align: center;
    font-size: 18px;
    background-color: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts-text{
    position: relative;
}
.contacts-text::after{
    position: absolute; 
    content: 'Contacts'; 
    font-family: "Gilroy", sans-serif; 
    font-size: 96px; 
    font-style: normal; 
    font-weight: 700; 
    line-height: normal; 
    text-transform: uppercase; 
    opacity: 0.3; 
    color: transparent; 
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: rgba(48,48,48); 
    bottom:1px;
    left: 128px;
 }
 .ul-list{
    margin-right: 40px;
    width: 400px;
 }