@font-face {
    font-family: "Gilroy";
    font-weight: 400;
    src: url("../fonts/Gilroy-Regular.woff2"), url("../fonts/Gilroy-Regular.woff");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 600;
    src: url("../fonts/Gilroy-Semibold.woff2"), url("../fonts/Gilroy-Semibold.woff");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 700;
    src: url("../fonts/Gilroy-Bold.woff"), url("../fonts/Gilroy-Bold.woff");
}

body {
    font-family: "Gilroy", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    background-color: #fff;
    margin: 0;
}

label,
button {
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.header-wrapper:first-child {
    background-color: #20242D;
    padding: 10px 55px;
}


.address-link {
    color: #FFF;
    font-family: "Gilroy", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.black{
    color: #20242D;
}
.address-link.mail{
    position: relative;
}
.address-link.phone{
    position: relative;
}
.address-link.address{
    position: relative;
}
.address-link.mail::before{
    position: absolute; 
    content: '';
    background-image: url('../img/mail.svg');
    height: 14px;
    width: 14px;
    top:0px;
    left: -20px;

}   
.address-link.phone::before{
    position: absolute; 
    content: '';
    background-image: url('../img/phone.svg');
    height: 14px;
    width: 14px;
    top:0px;
    left: -20px;
}
.address-link.address::before{
    position: absolute; 
    content: '';
    background-image: url('../img/addres.svg');
    height: 14px;
    width: 14px;
    top:0px;
    left: -20px;
}
.address-list {
    display: flex;
    gap: 55px;
}

.nav-list {
    display: flex;
    gap: 56px;
}

.nav-link {
    color: #20242D;
    font-family: "Gilroy", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.nav-link.current {
    color: #FF7129;
    position: relative;
}

.nav-link.current::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 1px;
    background-color: #FF7129;
    top: 10px;
    left: -15px;
}

.nav-link.current::after {
    position: absolute; 
    content: '';
    width: 10px;
    height: 1px;
    background-color: #FF7129;
    top: 10px;
    right: -15px;
}


.hero-section {
    background-color: rgba(32, 36, 45, 0.30);
    background-image: radial-gradient(179.69% 50% at 50% 50%, rgba(32, 36, 45, 0.00) 0%, #20242D 100%), 
                    url('../img/index-hero.jpg');
    display: flex;
    flex-direction: column;
    padding-top: 167px;
    padding-bottom: 290px;
}

.main-title {
    color: #FFF;
    text-align: center;
    font-size: 92px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.main-text {
    width: 500px;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    font-size: 16px;

    line-height: 24px;
}
.article{
    display: flex;
    justify-content: center;
    margin-top: 132px;
    margin-bottom:115px;
}
.article-text{
    max-width: 535px;
    height: 216px;
    margin-left: 80px;

}
.footer{
    max-width: 1600px;
    height: 207px;
    background-color: #20242D;
}
.bottom-menu{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;

}
.nav-bottom{
    display: flex;
    gap:58px;
}
.logo-bottom{
    padding-right: 50px;
}
.Strana-glowna{
    color:#FF7129;
    text-decoration: none;
}
.link-bottom{
    color:#FFF;
    text-decoration: none;
    padding-top:16px;
}
.button-bottom{
    width: 187px;
    height: 49px;
    background-color: transparent;
    border: 2px solid #FF7129;
    color: #fff;
}
.last-link{
    display: flex;
    justify-content: space-between; 
    margin-top: 50px;
    padding-bottom: 24px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
 }
 .last-link::after{
    width: 91%;
    height: 1px;
    background-color: #7B7E85;
    position: absolute;
    content: '';


 }
 .last{
    color:#7B7E85 ;
 }
 .action-button{
    width: 187px;
    height: 49px;
    background-color: #FF7129;
    border: none;
    color: #FFF;
    margin: auto;
 }
 .unselectable{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none; 
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
    
    -webkit-background-clip: text;
    background-clip: text; 
    font-family: Gilroy;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
    
    
 }
 .energy{
    margin-left: auto;
    margin-right: 50px;
    margin-top: -90px;
 }
 .about{
    padding-left: 130px;
    
 }
 .gallery{
    -webkit-text-stroke: 1px rgba(32, 36, 45, 0.3);
 }
 .contacts{
    -webkit-text-stroke: 1px rgba(32, 36, 45, 0.3);
    padding-top: 56px;
    padding-left: 173px;

 }
 .o-nas{
    background-image: radial-gradient(179.69% 50% at 50% 50%, rgba(32, 36, 45, 0.00) 0%, #20242D 100%), 
    url('../img/house.jfif');
    background-position: center;
    background-repeat: no-repeat;
    max-height: 350px;
    background-color: rgba(32, 36, 45, 0.30);
    display: flex;
    flex-direction: column;
    
 }
 .o-nas-h1{
    color: #FFF;
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 97%; /* 46.56px */
    padding-left: 50px;
    position: relative;
    margin-top: 0px;
    padding-left: 140px;
    margin-top: -40px;
    padding-bottom: 100px;
 }
 .o-nas-h1::before{
        position: absolute;
        content: "";
        width: 1px;
        height: 52px;
        background-color: #FF7129;
        left: 130px;

        
 }
 .article-o-nas{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    
 }
 .article-text{
    width: 534px;
    padding-bottom: 180px;
 }
 .h1-support-page{
    margin: 10px;
    
    padding-bottom: 100px;
    padding-left: 120px;
    color: #FFF;
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 97%;
    color: #FFFFFF;
    position: relative;
 }
 .h1-instal{
    margin: 10px;
    color: #FFF;
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 97%;
    color: #FFFFFF;
    position: relative;
    text-align: center;
    top: 150px;
    right: 140px;
 }
 .h1-support-page::before{
    position: absolute;
    content: "";
    width: 1px;
    height: 52px;
    background-color: #FF7129;
    left: 108px;
 }
 .slider{
    display: flex;
    max-width: 1600px;
    

 }

 .projekty{
    color: rgba(32, 36, 45, 1);
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 97%; /* 46.56px */
    margin: 0px;
    margin-bottom: 30px;
    position: relative;
    bottom: 70px;
    padding-left: 217px;
 }
 .kontakt{
    color: rgba(32, 36, 45, 1);
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 97%; /* 46.56px */
    margin: 0px;
    margin-bottom: 30px;
    position: relative;
    bottom: 70px;
    
 }
 .kontakt::before{
    position: absolute;
    content: "";
    width: 1px;
    height: 52px;
    background-color: #FF7129;
    left: -10px;
 }
 .projekty::before{
    position: absolute;
    content: "";
    width: 1px;
    height: 52px;
    background-color: #FF7129;
    left: -10px;
 }
 .projekty-main{
    max-height: 200px;
    max-width: 1500px;
 }
.kontakt-name{
    color: #7B7E85;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.kontakt-list{
    padding-left: 201px;
    padding-top: 178px;
    padding-bottom: 174px;
}
.li-style li{
    list-style-type: none;
    margin: 50px 0;
    width: 420px;
}
.contact-map{
    display: flex;

}
.article-instal{
    margin-left: 450px;
    width: 700px;
}
.hero-instal{
    max-width: 1600px;
    height: 412px;
    background-image:radial-gradient(179.69% 50% at 50% 50%, rgba(32, 36, 45, 0.00) 0%, #20242D 100%), 
    url('../img/instal.png'); 
    display: flex;
    justify-content: space-between;

}
.unselectable-intal{
    margin-bottom: 46px;
    margin-left: -10px;
    display: flex;

}
.img{
    display: flex;
    justify-content: space-between;
}
.foron-tech{
    font-size: 96px;
}
.instalacja-span{
    bottom: 10px;
    font-size: 96px;
    right: 50px;
}
.instal-down{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: opx;
}
.q-div{
    background-color: #F5F5F5;
    max-width: 700px;
    text-align: start;
    margin-top: 25px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 90px;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.q{
    width: 650px;
}
.strong{
    color:  #20242D;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}
.list{
    padding-left: 30px;
}
.li-instal{
    list-style-image: url(../img/list.svg);
    background-color:  #F2F2F2;
    margin-top: 24px;
    margin-bottom: 24px;
    padding-left: 30px;
}
.podsumowując{
    background-color:  #F2F2F2;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 24px;
    margin-bottom: 120px;
    margin-top: 66px;
    
}
.h2-instal{
    position: relative;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    padding-left: 16px;
    margin-top: 64px;
}
.h2-podsumowując{
    margin-top: 0;
}
.h2-instal::before{
    position: absolute;
    content: "";
    width: 1px;
    height: 42px;
    background-color: #FF7129;
    left: 0px;
}
.modal-oddzwon{
    position: fixed;
/* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    /* цвет фона */
    z-index: 1;
    pointer-events: none;
    height: 596px;
}
.modal-oddzwon.shown{
    position: fixed;
    /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    /* цвет фона */
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal{
    max-width: 800px;
    width: 100%;
    height: 516px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    background-color: #FFF;;
    position: relative;
    box-shadow: 0px 4px 41px 0px rgba(0, 0, 0, 0.10);
    padding-left: 58px;

}

.close-modal {
    cursor: pointer; 
    position: absolute; 
    top: 20px; 
    right: 60px;
    z-index: 2;

}
.roczne-zuzycie{
    color:  #7B7E85;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.green-slider{
    display: block;
    width: 100px;
    height: 6px;
    background: linear-gradient(to right,  #5CD35A 0%, #FF8D24 50%, #F01717 100.73%);

    Colors
    Hex
    Linear gradient
    Export
    
    Copy
    Ctrl+C
    Screenreader support for the board is currently disabled. To enable it via Accessibility settings, press Ctrl+/, type Accessibility Settings, and press Enter. To see available keyboard shortcuts, enter Ctrl+Shift+Question mark .
     )
    ;
}
.range{
    position: relative;
    
    width: 467px;
    appearance: none;
    background:transparent;
    border-radius: 50px;
    border: 1px,solid #888;
    
    overflow: hidden;
    outline: none;
    z-index: 6;
}   
.range::-webkit-slider-thumb{
    position: relative;
    height: 18px;
    width: 18px;
    background: #FF7129;
    appearance: none;
    cursor: pointer;
    border-radius: 50px;
    border: 0;
    z-index: 6;
    box-shadow: 245px 10px 10px 225px #F2F2F2;
    
}
.range::-moz-range-thumb{
    position: relative;
    height: 15px;
    width: 25px;
    background: #555;
    appearance: none;
    cursor: pointer;
    border-radius: 50px;
    
    border: 0;
    z-index: 6;
}
.range + .fill{
    margin-top: -20px;
    z-index: 5;
    height: 6px;
    width: 467px;
    border-radius: 50px;
    position: absolute;
    background: linear-gradient(to right,  #5CD35A 0%, #FF8D24 50%, #F01717 100.73%);)
}
.list-modal{
    display: flex;
    flex-direction: column;
    width:327px;
}   
.obliczyć-koszt-list{
    display: flex;
    gap: 30px;
    margin-top: 32px;
}
.obliczyć{
   margin: 0 auto;
   display: block;
   margin-top: 56px;
}
.close-modal::before,
.close-modal::after {
	content: '';
	position: absolute;
	top: 10px;
	display: block;
	width: 24px;
	height: 3px;
	background: #000;
}

.close-modal::before {
	transform: rotate(45deg);
}

.close-modal::after {
	transform: rotate(-45deg);
}


.h2-modal{
    position: relative;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    line-height: 97%;
    margin-left: 16px;
    margin-top: -45px;
}

.h2-modal::before{
    position: absolute;
    content: "";
    width: 1px;
    height: 52px;
    background-color: #FF7129;
    left: -16px;
}
.modal-text{
    color: rgba(32, 36, 45, 1);
    /* text/text 4 */
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width:668px;

}
.label-oddzwon{
    display: flex;
    flex-direction: column;
    max-width: 327px;
    color: #7B7E85;
}
.imie-telefon{
    display: flex;
    gap: 30px;
}
.modal-oddzwon-form-input{
    background-color: transparent;
    border: 1px solid #E0E0E0;
    width: 327px;
    height:52px;
    margin-bottom: 40px;
    
}
.modal-oddzwon-form-input::placeholder{
    color: #7B7E85;
    padding-left: 24px;
}
.callback{
    -webkit-text-stroke: 1px #20242D;
    font-size: 95px;
    opacity: 0.1;
    margin-left: -25px;
    padding-top: 28px;
}
.modal-obliczyć-koszt{
        position: fixed;
    /* фиксированное положение */
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        opacity: 1;
        /* цвет фона */
        z-index: 1;
        
        height: 596px;
}